<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <p>Tere,
      <span class='kood'>
        <%= toend.profile_attributes.given_name %>
          <%= toend.profile_attributes.family_name %>
      </span>!</p>

    <p>Autentimistõend:</p>
    <pre class='kood'>
<%= ilustoend %>
    </pre>

    <a href='/'>Avalehele</a>

  </body>

</html>