<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <p>Autentimine ebaõnnestus. Veateade:
      <span class='kood'>
        <%= veateade %>
      </span>
    </p>

  </body>

</html>