<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <img src='img/LOVID.png' style='width: 80px; margin-top: 1rem;'>

  <h1>Your First Login to Estonia</h1>

  <p>
    Hi!
  </p>

  <p>
    This is a cross-border eIDAS authentication test service.<br>
    Now you can log in to Estonian e-service using your national ID!
  </p>

  <p>
    Want to try?
  </p>

  <p>Click here: 
    <a href='/auth/eidasonly' target='_new'>
      <i class="ikoon material-icons" style='color: tomato;'>open_in_new</i>
    </a>
  </p>

  <p style='margin-top: 2rem;'>
    More information about Estonia?<br>
    Click here: <a href='https://www.eesti.ee/en/'><i class="ikoon material-icons" style='color: green;'>open_in_new</i></a>
  </p>
  
  <p style='margin-top: 2rem;'>
    This service is brought to you by 
    the Estonian public sector central authorization service.
  </p>

  <div class='jalus'>
    <p>
      Estonian Information System Authority · 2018 ·
      <a href='https://github.com/e-gov/TARA-Demo' target='_new'>https://github.com/e-gov/TARA-Demo</a>
    </p>
  </div>

</body>

</html>