<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <h1>TARA autentimisteenuse demo</h1>

    <p>
      <a href='https://e-gov.github.io/TARA-Doku/'>TARA </a> on teenus, millega avaliku sektori asutus saab e-teenuses autentida nii Eesti kui ka teisest EL riigist tulnud kasutaja.</p>

    <p>Demo pakub võimalust proovida autentimist testnumbritega, -kaartidega või -seadistustega</p>
      
    <p>Vt lähemalt <a href='https://e-gov.github.io/TARA-Doku/Testimine' target='_new'>Autentimisteenus TARA. Testimine</a>.</p>

    <hr>

    <p>Proovi näiteks mobiil-ID-ga autentimist:</p>
    
    <p>1 Kopeeri lõikelauale või jäta meelde testnumber <code>+37200000766</code>. </p>

    <p>2 Ava autentimisdialoog (uuel sakil):
      <a href='/auth' target='_new'>
        <i class="ikoon material-icons">open_in_new</i>
      </a>
    </p>

    <p>3 Autentimise läbitegemise järel soovi korral vaata logi (avaneb uuel sakil):
      <a href='/stat' target='_new'>
        <i class="ikoon material-icons">show_chart</i>
      </a>
    </p>

    <p>Võid tutvuda TARA serveri identsustõendi allkirjastamise avaliku võtmega (avaneb uuel sakil):
      <a href='/voti' target='_new'>
        <i class="ikoon material-icons">vpn_key</i>
      </a>
    </p>

    <p>TARA-Demo on kirjutatud Node.js-s, majutatud Heroku pilveteenusesse ja ühendatud TARA testkeskkonnaga.
        <a href='https://github.com/e-gov/TARA-Demo'>Lähtekood</a> on avatud ja vabalt kasutatav.
    </p>
 
    <p>
      <img src='img/Heroku.PNG'> <img src='/img/NodeJS.PNG' style='width: 100px;'> <img src='img/ee_cef_0.png' style='width: 400px;'>
    </p>

    </body>

</html>