<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <img src='img/LOVID.png' style='width: 80px; margin-top: 1rem;'>

    <h1>TARA autentimisteenuse demo</h1>

    <p>
      <a href='https://e-gov.github.io/TARA-Doku/'>TARA </a> on teenus, millega avaliku sektori asutus saab e-teenuses autentida nii Eesti kui ka teisest EL riigist tulnud kasutaja.</p>
      
    <p>TARA demo on klientrakendus, mis on ühendatud TARA testteenusega. TARA kaudu on demo ühendatud ka välisriikide eIDAS testteenustega.</p>

    <p>Demo pakub võimalust proovida autentimist testnumbritega, -kaartidega või -seadistustega. </p>
      
    <p>Vt lähemalt <a href='https://e-gov.github.io/TARA-Doku/Testimine' target='_new'>Autentimisteenus TARA. Testimine</a>.</p>

    <hr>

    <p>Proovi näiteks mobiil-ID-ga autentimist:</p>
    
    <p>1 Kopeeri lõikelauale või jäta meelde testisiku mobiilinumber <code>+372 00000766</code> ja isikukood <code>60001019906</code>. </p>

    <p>2 Ava autentimisdialoog (uuel sakil):
      <a href='/auth' target='_new'>
        <i class="ikoon material-icons">open_in_new</i>
      </a>
    </p>

    <p>3 Vali <code>Mobiil-ID</code> ja sisesta testisiku isikukood ning mobiilinumber. Vajuta <code>Jätkan</code>. Testteenus viib autentimise automaatselt lõpuni (7 s viivitusega).</p>

    <p>4 Autentimise läbitegemise järel soovi korral vaata logi (avaneb uuel sakil):
      <a href='/stat' target='_new'>
        <i class="ikoon material-icons">reorder</i>
      </a>
    </p>

    <hr>

    <p>Proovi eIDAS-autentimist (Eesti)</p>

    <p>1 Vali <code>eIDAS</code>. Vali <code>Eesti</code>. Järgnevas dialoogis vali <code>Mobiil ID</code>, seejärel sisesta testnumber <code>+37200000766</code>. Sind autenditakse testisikuna.</p>

    <hr>

    <p>Proovi eIDAS-autentimist (välisriik)</p>

    <p>1 Ava autentimisdialoog (vt ülal). Vali <code>eIDAS</code>. Vali riik, nt <code>Malta</code>. Järgnevas dialoogis vali <code>Next</code>, <code>Next</code> ja jõuad Malta autentimisteenuseni. </p>

    <hr>

    <p>Võid tutvuda TARA serveri identsustõendi allkirjastamise avaliku võtmega (avaneb uuel sakil):
      <a href='/voti' target='_new'>
        <i class="ikoon material-icons">vpn_key</i>
      </a>
    </p>

    <hr>

    <p>Teenuse <a href='/heartbeat' target='_new'>elutukse otspunkt</a> (avaneb uuel sakil).</p>

    <hr>

    <p>TARA-Demo on kirjutatud Node.js-s ja majutatud Heroku pilveteenusesse.
        <a href='https://github.com/e-gov/TARA-Demo'>Lähtekood</a> on avatud ja vabalt kasutatav.
    </p>
 
    <p style='margin-top: 3rem;'>
      <img src='img/Heroku.PNG'> <img src='/img/NodeJS.PNG' style='width: 100px;'> <img src='img/ee_cef_0.png' style='width: 400px;'>
    </p>

    <div class='jalus'>
        <p>
          Riigi Infosüsteemi Amet · 2017-2018 ·
          <a href='https://github.com/e-gov/TARA-Demo' target='_new'>https://github.com/e-gov/TARA-Demo</a>
        </p>
      </div>

    </body>

</html>