<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <h1>TARA autentimisteenuse demo</h1>

    <p>
      <a href='https://e-gov.github.io/TARA-Doku/'>TARA </a> on teenus, millega avaliku sektori asutus saab e-teenuses autentida nii Eesti kui ka teisest EL riigist tulnud kasutaja.</p>

    <p>Proovi autentimist:
      <a href='/auth'>
        <i class="ikoon material-icons">open_in_browser</i>
      </a><br>
      <i>Teie isikukood salvestatakse ja kuvatakse allpool logis. Kui te ei ole sellega nõus, siis ärge proovige.</i> 
    </p>

    <p>Vaata logi:
      <a href='/stat'>
        <i class="ikoon material-icons">show_chart</i>
      </a>
    </p>

    <p>Päri TARA serverist identsustõendi allkirjastamise avalik võti:
      <a href='/voti'>
        <i class="ikoon material-icons">vpn_key</i>
      </a>
    </p>

    <p>TARA klientrakendus on kirjutatud Node.js-s, majutatud Heroku pilveteenusesse ja ühendatud TARA testkeskkonnaga.
        <a href='https://github.com/e-gov/TARA-Demo'>Lähtekood</a> on avatud ja vabalt kasutatav.
    </p>
 
    <p>
      <img src='img/Heroku.PNG'> <img src='/img/NodeJS.PNG' style='width: 100px;'> <img src='img/ee_cef_0.png' style='width: 400px;'>
    </p>

    </body>

</html>