<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
      <title>TARA-Demo</title>
  </head>

  <body>

    <img src='img/LOVID.png' style='width: 80px; margin-top: 1rem; filter: grayscale(100%);'>

    <p>
      TARA demo on TARA testteenusega ühendatud klientrakendus. TARA kaudu on demo ühendatud ka välisriikide
      eIDAS testteenustega.
    </p>

    <p>
      <a href='https://e-gov.github.io/TARA-Doku/'>TARA </a> on teenus, millega avaliku sektori asutus saab e-teenuses autentida nii Eesti kui ka
      teisest EL riigist tulnud kasutaja.
    </p>

    <p>
      Demo pakub võimalust proovida autentimist testnumbritega, -kaartidega või -seadistustega. Testnumbrite
      kohta vt lähemalt
      <a href='https://e-gov.github.io/TARA-Doku/Testimine' target='_new'>Autentimisteenus TARA. Testimine</a>.
    </p>

    <p>Proovi: 
        <a href="#1">autentimist mobiil-ID-ga</a> · 
        <a href="#2">autentimist Smart-ID-ga</a> · 
        <a href="#3">autentimist pangalingiga</a> · 
        <a href="#4">eIDAS-autentimist</a> · 
        <a href="#5">"eIDAS only" autentimist</a> · 
        <a href="#6">EU citizen?</a> · 
        <a href="#7">Eesti autentimisteenust</a> | 
        <a href="#8">Vaata logi</a> · 
        <a href="#9">Tutvu TARA allkirjavõtmega</a> · 
        <a href="#10">Kontrolli teenuse ülevalolekut</a>
    </p>

    <!-- 1 Proovi autentimist mobiil-ID-ga -->
    <a id="1"></a>
    <div style='display: flex; align-items: center;'>
      <h2>1 Proovi autentimist mobiil-ID-ga</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='/auth/all' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <ol class='sammud'>
      <li>
        Vali
        <code>Mobiil-ID</code>
        <br>
      </li>
      <li>
        Sisesta testisiku isikukood
        <code>60001019906</code> ja mobiilinumber
        <code>+372 00000766</code>
        <br>
      </li>
      <li>
        Vajuta
        <code>Jätkan</code>
        <br>
      </li>
      <li>
        Testteenus viib autentimise automaatselt lõpuni (7 s viivitusega).
      </li>
    </ol>

    <!-- 2 Proovi autentimist Smart-ID-ga -->
    <a id="2"></a>
    <div style='display: flex; align-items: center;'>
      <h2>2 Proovi autentimist Smart-ID-ga</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='/auth/all' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <ol class='sammud'>
      <li>
        Vali
        <code>Smart-ID</code>
        <br>
      </li>
      <li>
        Sisesta testisiku isikukood
        <code>10101010005</code>
        <br>
      </li>
      <li>
        Vajuta
        <code>Jätkan</code>
        <br>
      </li>
      <li>
        Testteenus viib autentimise automaatselt, mõnesekundilise viivitusega, lõpuni.
      </li>
    </ol>

    <!-- 3 Proovi autentimist pangalingiga -->
    <a id="3"></a>
    <div style='display: flex; align-items: center;'>
      <h2>3 Proovi autentimist pangalingiga</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='/auth/all' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <ol class='sammud'>
      <li>
        Vali
        <code>Pangalink</code>
        <br>
      </li>
      <li>
        Vali
        <code>Luminor</code>
        <br>
      </li>
      <li>
        Vali
        <code>Digivõti</code>
        <br>
      </li>
      <li>
        Sisesta kasutajatunnus
        <code>111111</code>
        <br>
      </li>
      <li>
        Vajuta
        <code>Sisene</code>
        <br>
      </li>
      <li>
        Sisesta vastuskood
        <code>9999</code>
        <br>
      </li>
      <li>
        Vajuta
        <code>Sisene</code>
        <br>
      </li>
      <li>
        Vajuta veelkord
        <code>Sisene</code>
        <br>
      </li>
      <li>
        Testteenus viib autentimise automaatselt lõpuni.
      </li>
    </ol>

    <!-- 4 Proovi eIDAS-autentimist -->
    <a id="4"></a>
    <div style='display: flex; align-items: center;'>
      <h2>4 Proovi eIDAS-autentimist</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='/auth/all' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <ol class='sammud'>
      <li>
        Vali
        <code>eIDAS</code>
        <br>
      </li>
      <li>
        Vali välisriik, nt
        <code>Malta</code>
        <br>
      </li>
      <li>
        Järgnevas dialoogis vali
        <code>Next</code>,
        <code>Next</code>
        <br>
      </li>
      <li>
        Jõuad Malta autentimisteenuseni. Autentimise täielikuks läbitegemiseks vajad testisiku andmeid. Vt allpool
        Tšehhi testisiku andmeid.
      </li>
    </ol>
    <p>või</p>
    <ol class='sammud'>
      <li>
        Vali eIDAS testriik
        <code>CD</code>
        <br>
      </li>
      <li>
        Järgnev dialoog on automaatne, ainult ühes kohas
        pead vajutama <code>Submit</code>
        <br>
      </li>
      <li>
        Sind autenditakse testisikuna Javier Garcia.
      </li>
    </ol>

    <!-- 5 Proovi "eIDAS only" autentimist -->
    <a id="5"></a>
    <div style='display: flex; align-items: center;'>
      <h2>5 Proovi "eIDAS only" autentimist</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='/auth/eidas' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <p style='margin-top: 0;'>
      TARA-ga võib liidestuda ka nii, et TARA autendib ainult välismaalasi. Selline võimalus sobib asutusele, kes soovib
      lisada eIDAS-autentimise oma olemasolevale autentimislahendusele.
    </p>
    <ol class='sammud'>
      <li>
        Kasutusliides lülitub ümber inglise keelele. Ilmuvad "lipukesed". Eesti autentimismeetodeid ei kuvata.
      </li>
      <li>
        Proovi autentimise läbitegemist Tšehhi testkasutajana. Vajuta 
        <code>Czech Republic</code>.
      </li>
      <li>
        Vajuta <code>Next</code>, <code>Next</code>.
      </li>
      <li>
        Jõuad Tšehhi autentimisteenuse lehele. Vali
        <code>Testovací profily</code> (testrežiim)
      </li>
      <li>
        Vajuta
        <code>Přihlásit</code>
      </li>
      <li>
        Vajuta
        <code>Submit</code>
      </li>
      <li>
        Kui kõik läks õigesti, siis suunatakse sind autenditud testisikuna -
        <code>PAVLA DVOŘÁKOVÁ</code> - TARA-sse tagasi. Näed autentimise tulemusena moodustatud identsustõendit.
      </li>
    </ol>

    <!-- 6 EU citizen? Click here: -->
    <a id="6"></a>
    <div style='display: flex; align-items: center;'>
      <h2>6 EU citizen? Click here:</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='/first' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <p style='margin-top: 0; margin-bottom: 2rem;'>
      An example of how the service for EU citizen could look like.
    </p>

    <!-- 7 Proovi Eesti autentimisteenust -->
    <a id="7"></a>
    <div style='display: flex; align-items: center;'>
      <h2>7 Proovi Eesti autentimisteenust</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='/auth/all' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <p style='margin-top: 0;'>
      Saad proovida ka autentimist eIDAS Eesti autentimisteenuse abil. See teenus on suunatud välisriikide e-teenustele, kes soovivad autentida eestlastest kasutajaid.
    </p>
    <ol class='sammud'>
      <li>
        Vali
        <code>eIDAS</code>
        <br>
      </li>
      <li>
        Vali
        <code>Eesti</code> (klõpsa Eesti lipule)
        <br>
      </li>
      <li>
        Järgnevas dialoogis vali
        <code>Mobiil ID</code>
        <br>
      </li>
      <li>
        Sisesta testnumber
        <code>+37200000766</code>
        <br>
      </li>
      <li>
        Oota 7 s. Sind autenditakse testisikuna.
      </li>
    </ol>

    <!-- 8 Vaata logi -->
    <a id="8"></a>
    <div style='display: flex; align-items: center;'>
      <h2>8 Vaata logi</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='/stat' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <p style='margin-top: 0;'>
      Kuvatakse viimase viie eduka autentimise andmed: autentimise aeg, isikukood, ees- ja perekonnanimi. (Tegu on testandmetega.)
    </p>

    <!-- 9 Tutvu TARA allkirjavõtmega -->
    <a id="9"></a>
    <div style='display: flex; align-items: center;'>
      <h2>8 Tutvu TARA allkirjavõtmega</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='/voti' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <p style='margin-top: 0; margin-bottom: 2rem;'>
      Avalik võti, millega klientrakendus saab kontrollida allkirja,
      mille TARA server annab autentimise tulemusena klientrakendusele
      väljastatavale identsustõendile.
    </p>

    <!-- 10 Tutvu TARA elutukse otspunktiga -->
    <a id="10"></a>
    <div style='display: flex; align-items: center;'>
      <h2>9 Kontrolli teenuse ülevalolekut</h2>
      <div style='margin-left: 1rem;'>
        <a class='ikoonlink' href='https://tara-test.ria.ee/status/heartbeat
        ' target='_new'>
          <i class="ikoon material-icons" style='color: DarkGray;'>open_in_new</i>
        </a>
      </div>
    </div>
    <p style='margin-top: 0; margin-bottom: 2rem;'>
      Elutukse (<i>heartbeat</i>) otspunkti kaudu pakub TARA masinloetaval kujul teavet oma seisundi kohta.
    </p>

    <p style='margin-top: 4rem;'>
      <img src='img/ee_cef_0.png' style='width: 400px;'>
    </p>

    <div class='jalus'>
      <p>
        Riigi Infosüsteemi Amet · 2017-2018 ·
        <a href='https://github.com/e-gov/TARA-Demo' target='_new'>https://github.com/e-gov/TARA-Demo</a>
      </p>
    </div>

  </body>

</html>