<!DOCTYPE html>
<html>

  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <h1>TARA autentimisteenuse demo</h1>

    <p><i class="ikoon material-icons">show_chart</i></p>
    
    <p>Kasutusstatistika</p>

    <p>Teenust on kasutatud
      <span class='kood'>
        <%= stat %>
      </span> korda.
    </p>

    </body>

</html>